$mainColor: #231900;
$yellowColor: #ffcc00;
$whiteColor: #ffffff;

$whiteBg: #ffffff;
$yellowyBg: #ffcc00;
$gradientBg: linear-gradient(
  91.02deg,
  #ffcc00 17.25%,
  rgba(255, 204, 0, 0) 178.38%
);

$mobile: 767.98px; // мобилка адаптив
$small: 467px; //маленькая мобилка адаптив

$maxWidth: 1920; //макс ширина экрана
$maxWidthContainer: 1440; //макс ширина контейнера
